#mensagem {
    display: none; /* oculta a mensagem inicialmente */
    color: rgb(42, 95, 210);
    font-weight: bold;
  }
  #link-mensagem:focus + #mensagem {
    display: block; /* exibe a mensagem quando o link é clicado */
  }
  .container {
    display: flex;
    align-items: center; /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    padding-top: 300px;
    padding: 100px;

    
  }
  
  .img {
    margin-right: 20px; /* espaçamento entre a imagem e o texto */
    border-radius: 10px;
  }
.branco {
    color: white;
   
}
.borda {
    border-color: white;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;

}
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #34974d;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}